ul.menu-sub-tabs {
    width: 100%;
    display: -webkit-inline-box;
    display: -moz-block-box;
    margin-top: -6px;
}

ul.dropdown-menu ul.menu-sub-tabs li {
    margin-right: 0px;
    padding-bottom: 0px;
    float: left;
    margin-top: 1px;
    background-color: #c6ccd2;
}

.navbar-default .navbar-nav > li > ul.dropdown-menu.display-sub-tabs:after {
    left: 39px;
}

.navbar-default .navbar-nav > li > ul.dropdown-menu.display-sub-tabs:before {
    left: 38px;
}

ul.dropdown-menu li.dropdown.open.display-tab ul {
    width: 100.5%;
    border-top: 0;
    padding: 0;
    margin-left: -1px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

ul.dropdown-menu ul.menu-sub-tabs li a {
    display: inline-block;
    border: 0;
    font-size: 14px;
    border-radius: 0;
    color: #ffffff;
    font-weight: bold;
}

ul.dropdown-menu ul.menu-sub-tabs li.active a {
    background: #fff;
    color: #58595b;
    font-size: 14px;
    border-radius: 0;
    font-weight: bold;
}

ul.dropdown-menu ul.menu-sub-tabs li a:hover {
    background-color: #eeeeee;
    border-top-right-radius: 4px;
}

ul.dropdown-menu ul.menu-sub-tabs li.firstTab a:hover {
    border-top-right-radius: 0;
}

.navbar-nav > li > .dropdown-menu li + li.menu-second-tab {
    border: 0;
}

ul.display-sub-tabs ul.dropdown-menu li a {
    font-size: 14px;
}

li.dropdown.display-tab ul.dropdown-menu a {
    padding: 7px 20px;
}

.navbar-default .navbar-nav > li > .dropdown-menu li + li.dropdown.display-tab {
    border: 0;
}

ul.menu-sub-tabs > li.active > a,
ul.menu-sub-tabs > li.active > a:hover,
ul.menu-sub-tabs > li.active > a:focus {
    border: 0;
    background-color: #f7f7f7;
}

ul.nav.menu-sub-tabs li.menu-second-tab.secondTab {
    width: 50%;
    border-top-right-radius: 4px;
    height: 100%;
}

ul.dropdown-menu ul.menu-sub-tabs li.firstTab {
    width: 50%;
    border-top-left-radius: 4px;
    height: 100%;
    margin-left: -1px;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
    width: 145%;
}

.navbar-default .navbar-nav li ul.display-sub-tabs li.tab-list a {
    margin-left: 0;
    width: 100%;
    padding: 13.5px;
}

.navbar-default .navbar-nav li ul.display-sub-tabs li.tab-list li.firstTab a, li.firstTab.active a {
    border-top-left-radius: 4px;
}

.navbar-default .navbar-nav li ul.display-sub-tabs li.menu-second-tab.secondTab a {
    border-top-right-radius: 4px;
}

li.menu-second-tab.secondTab.active a {
    width: 99.35%;
}

li.firstTab.active a:hover {
    border-top-right-radius: 0px;
}

ul.dropdown-menu li a {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

@-moz-document url-prefix() {
    ul.dropdown-menu ul.menu-sub-tabs li.firstTab {
        margin-left: 0;
    }
    .navbar-default .navbar-nav > li > .dropdown-menu {
        width: 150%;
    }
}

@media screen and (max-width: 767px) {
    ul.menu-sub-tabs {
        width: auto;
        margin-top: 0px;
    }

    .navbar-default .navbar-nav > li > .dropdown-menu {
        margin: 15px 0 0 0px;
        border: 0;
        width: auto;
    }

    ul.menu-sub-tabs {
        margin-top: -10px;
        display: block;
        width: 100%;
    }

    .navbar-default .navbar-nav li ul.display-sub-tabs li.tab-list a {
        display: inline-block;
        width: 100%;
        border-top-right-radius: 4px;
    }

    ul.dropdown-menu ul.menu-sub-tabs li.firstTab,
    ul.nav.menu-sub-tabs li.menu-second-tab.secondTab {
        width: 50%;
    }

    ul.dropdown-menu ul.menu-sub-tabs li.firstTab a:hover,
    .navbar-default .navbar-nav li ul.display-sub-tabs li.tab-list li.firstTab a {
        border-top-right-radius: 0px;
    }

    .navbar-default .navbar-nav li ul.display-sub-tabs li.firstTab a {
        border-top-left-radius: 0;
    }

    .navbar-default .navbar-collapse.in {
        overflow: visible;
        display: initial;
    }

    ul.dropdown-menu li a {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
}
